rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.rol == 'admin';
    }

    match /usuarios/{uid} {
      allow read: if signedIn() && request.auth.uid == uid;
      allow create: if signedIn() && request.auth.uid == uid;
      allow update: if signedIn() && request.auth.uid == uid;
      allow delete: if false;
    }

    match /cursos/{cursoId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /ordenes/{orderId} {
      allow read: if signedIn() && request.auth.uid == resource.data.userId;
      allow create, update, delete: if false;
    }

    match /inscripciones/{inscripcionId} {
      allow read: if signedIn() && request.auth.uid == resource.data.userId;
      allow write: if false;
    }
  }
}
